<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/css/index.css">
    <script type="text/javascript" src = "/js/index.js"></script>
</head>
<body>
    <div id = "wrap">
        <div id="center">
            <div id = "topFrame">
                <a class = "logo" href="/"><img src="/images/shinscord_logo.jpg" width="124"></a>
                <div class="topFrameCenter">
                    <a href="#">다운로드</a>
                    <a href="#">Nitro</a>
                    <a href="#">보안</a>
                    <a href="#">지원</a>
                </div>
                <a class="loginBtn Btn" href="/user/login">로그인</a>
            </div>
            <div id="content">
                <h1>이런 공간이 있다면 어떨까요<span>...</span></h1>
                <h3>
                    ...학교 동아리, 게임 그룹, 세계 예술 감상 커뮤니티에 소속되어 유대감을 느낄 수 있는 공간. 
                    소중한 단짝 친구들과 어울릴 수 있는 우리만의 공간. 더 쉽게,
                    매일 어울리고 이야기할 수 있는 그런 공간 말이에요.
                </h3>
                <div class="btnField">
                    <a href="#" class="wht bigBtn">Windows용 다운로드</a>
                    <a href="#" class="blk bigBtn">웹브라우저에서 Shinscord 열기</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>