<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/css/login.css">
    <script type="text/javascript" src = "/js/login.js"></script>
</head>
<body>
    <div id = "wrap">
        <div id = "center">
            <div id = "container">
                <div class = "c_left">
                    <h2>돌아오신 것을 환영해요!</h2>
                    <p>다시 만나다니 너무 반가워요!</p>
                    <form>
                        <p>이메일 또는 전화번호</p>
                        <input type = "text" id = "logId"> 
                        <p>비밀번호</p>
                        <input type = "password" id = "logPw"> 
                    </form>
                    <a href = "" >비밀번호를 잊으셨나요?</a>
                    <button id = "loginSubmit">로그인</button>
                    <p> 계정이 필요한가요?<a href="">가입하기</a></p>
                </div>
                <div class = "c_right">
                    <img src="./images/main_qr.png">
                    <h2>QR코드로 로그인</h2>
                    <p><span>Shinscord 모바일 앱</span>은 아직 없어오..</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>