<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/css/channels/main.css">
</head>
<body>
    <div id = "wrap">
        <div id = "iconListArea">
            <!-- 아이콘 들어가는데 -->
            <div class = "icn">
                <span class = "icnMarker">
                    <!-- 새 글이 올라오면 알려줌. 없는 경우에는 살짝 길어지고 접속하면 완전히 길어짐 
                    대신 선택된 경우에는 클래스 명을 완전히 바꿔서 hover시에도 고정되어있도록 해야 함
                    -->
                </span>
                <img class = "icnMain" src="/images/iconmain.svg">
                <span class = "icnToolTip">
                    <!-- 툴팁 영역 -->툴팁입asdasasdasdasdd
                </span>
            </div>
            <div id = "iconDivider"></div>
        </div>
        <div id = "midListArea">
            <div id = "midListHeader">
                
            </div>
            <!-- 친구목록, 채널목록 등 표시 -->
        </div>
        <div id = "contentListArea">
            <div id = "contentHeader">
                <!-- 게시글 영역 헤더 -->
            </div>
            <div id = "contentFlex">
                <div id = "contentMain">
                
                    <!-- 게시글 등 표시 -->
                </div>
                <div id = "userList">
                    
                    <!-- 유저들 표시. 메인에선 안보임 -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>